body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #212121;
}

h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1000px;
}

.gallery-item {
    width: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 11;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    background-color: #212121;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.close:hover,
.close:focus {
    color: #000000;
    background-color: #736a6a;
    
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    user-select: none;
    background-color: #212121;
    border-radius: 15%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    color: #000000;
    background-color: #736a6a;
}